<nav class="navbar navbar-dark bg-dark mb-3">
    <a class="navbar-brand mb-0 h1" href="/">Toy Blog</a>
    <form class="form-inline">
        <a class="btn btn-primary" href="/signIn">Sign In</a>
    </form>
</nav>
