<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="bg-light">

<div class="container">
    <nav class="navbar navbar-dark bg-dark mb-3">
        <a class="navbar-brand mb-0 h1" href="/">Toy Blog</a>
        <form class="form-inline">
            <a class="btn btn-primary" href="/posts/new">글쓰기</a>
        </form>
    </nav>

    <div class="row" th:each="post : ${posts}">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a>
                    </h4>
                    <p class="card-text" th:text="${post.content}"></p>
                    <p class="card-text">
                        <small class="text-muted" th:text="${post.createdDate}"></small>
                        <br/>
                        <small class="text-muted" th:text="${'posted by '+ post.writer}"></small>
                    </p>
                    <a th:href="@{/posts/{id}(id=${post.id})}" class="btn btn-primary">Read more ... </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: script"></div>
</body>
</html>