{{#partial "body"}}
    <div class="container">
        <nav class="navbar navbar-dark bg-dark mb-3">
            <a class="navbar-brand mb-0 h1" href="/">Toy Blog</a>
            <form class="form-inline">
                <a class="btn btn-primary" href="/posts/new">글쓰기</a>
            </form>
        </nav>

        {{#with post}}
            <form action="/posts/{{id}}/edit" method="post">
                <div class="form-group">
                    <label for="title"><strong>제목</strong></label>
                    <input id="title" class="form-control" type="text" name="title" required="required"
                           value="{{title}}"/>
                </div>
                <div class="form-group">
                    <label for="content"><strong>내용</strong></label>
                    <textarea id="content" class="form-control" rows="10" cols="50" name="content" required="required"
                    >{{content}}</textarea>
                </div>
                <button class="btn btn-success" type="submit">수정 완료</button>
            </form>
        {{/with}}
    </div>
{{/partial}}

{{> layout/baseLayout}}