{{#partial "body"}}
    <div class="container">
        {{> component/navigationBar}}

        {{#with post}}
            <form action="/posts/{{id}}/edit" method="post">
                <div class="form-group">
                    <label for="title"><strong>제목</strong></label>
                    <input id="title" class="form-control" type="text" name="title" required="required"
                           value="{{title}}"/>
                </div>
                <div class="form-group">
                    <label for="content"><strong>내용</strong></label>
                    <textarea id="content" class="form-control" rows="10" cols="50" name="content" required="required"
                    >{{content}}</textarea>
                </div>
                <button class="btn btn-success" type="submit">수정 완료</button>
            </form>
        {{/with}}
    </div>
{{/partial}}

{{> layout/baseLayout}}