<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
    <nav class="navbar navbar-dark bg-dark mb-3">
        <a class="navbar-brand mb-0 h1" href="/">Toy Blog</a>
        <form class="form-inline">
            <a class="btn btn-primary" href="/posts/new">글쓰기</a>
        </form>
    </nav>


    <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="post">

        <div class="form-group">
            <label for="title"><strong>제목</strong></label>
            <input id="title" class="form-control" type="text" name="title" required="required"
            th:value="${post.title}"/>
        </div>

        <div class="form-group">
            <label for="content"><strong>내용</strong></label>
            <textarea id="content" class="form-control" rows="10" cols="50" name="content" required="required" th:text="${post.content}"></textarea>
        </div>

        <button class="btn btn-success" type="submit">수정 완료</button>
    </form>
</div>

<div th:replace="fragments :: script"></div>
</body>
</html>