<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<div class="container">
    <nav class="navbar navbar-dark bg-dark mb-3">
        <a class="navbar-brand mb-0 h1" href="/">Toy Blog</a>
        <form class="form-inline">
            <a class="btn btn-primary" href="/posts/new">글쓰기</a>
        </form>
    </nav>

    <div class="mb-2 mt-5">
        <h1 th:text="${post.title}"></h1>
    </div>

    <div class="mb-5">
        <span class="text-secondary" th:text="${post.createdDate}"></span>
        <span class="text-secondary">posted by <span th:text="${post.writer}"></span></span>
    </div>

    <p th:text="${post.content}"></p>

    <div class="text-right">
        <form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
            <a class="btn btn-primary btn-sm" href="/">목록</a>
            <a class="btn btn-secondary btn-sm" th:href="@{/posts/{id}/edit(id=${post.id})}">수정</a>
            <button class="btn btn-danger btn-sm" type="submit">삭제</button>
        </form>
    </div>

</div>

<div th:replace="fragments :: script"></div>
</body>
</html>