<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
	<h3>회원가입</h3>
	<form action="/register" method="post">
		<table>
			<tr>
				<td>아이디</td>
				<td><input type="text" name="username"/></td>
			</tr>
			<tr>
				<td>비밀번호</td>
				<td><input type="password" name="password"/></td>
			</tr>
			<tr>
				<td>비밀번호 확인</td>
				<td><input type="password" name="passwordConfirm"/></td>
			</tr>
			<tr>
				<td>이메일</td>
				<td><input type="email" name="email"/></td>
			</tr>
			<tr>
				<td><button type="submit">확인</button></td>
			</tr>
		</table>
	</form>
</body>
</html>
