<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>write page
<form action="/posts" method="post">
    <table>
        <tr>
            <td>제목</td>
            <td>
                <label>
                    <input type="text" name="title"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <label>
                    <textarea rows="10" cols="50" name="content"></textarea>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">완료</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>